{% extends 'base.html.twig' %}

{% block title %}CarService{% endblock %}
{% block style %}


{% endblock %}
{% block body %}

<html>
    <head>
           

   </head>
   <body>
       <div>Car Service</div>
     <form action="/car" method="POST">
     Name:<input type="text" name="search name"><input type="submit" value="Search">
     </form>
   
   </body>
   
</html>


{% endblock %}
